<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <select name="abc" id="fruit" v-model="fruit">
        <option value="苹果">苹果</option>
        <option value="葡萄">葡萄</option>
        <option value="香蕉">香蕉</option>
    </select>
    <h2>选择的{{fruit}}</h2>

    <select name="def" id="fruits" v-model="fruits" multiple>
        <option value="苹果">苹果</option>
        <option value="葡萄">葡萄</option>
        <option value="香蕉">香蕉</option>
    </select>
    <h2>选择的{{fruits}}</h2>
</div>
<script src="../js/vue.js"></script>
<script>
    const app = new Vue({
        el:"#app",
        data:{
            message:"hello world",
            fruit: "苹果",
            fruits:[]
        }
    })
</script>
</body>
</html>